name: Deploy Portfolio Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Build Next.js
        run: npm run build

      - name: Prepare Build Artifact
        run: |
          mkdir -p deploy
          cp -r .next deploy/.next
          cp -r public deploy/public
          cp package.json deploy/
          cp package-lock.json deploy/
          cd deploy
          tar -czvf app.tar.gz .
          mv app.tar.gz ../app.tar.gz

      - name: Upload artifact to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "app.tar.gz"
          target: "/home/ec2-user/ManagementV2_Frontend/"

      - name: Run Deploy Script on EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/deploy
            bash deploy.sh
